
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://variety.com/wp-content/uploads/2020/12/Independent-Movies-in-2020-Indie-Spirits.jpg?w=1360&h=765&crop=1);">
    <div class="container">
      <h1>Create a list <strong>bookmark your movies</strong></h1>
    </div>
  </div>
  <div class="container">
    <div class="cards">
      <% @lists.each do |list| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <%= link_to list.name, list_path(list) %>
        </div>
      <% end %>
    </div>
  </div>
